<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.blue.min.css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <div class="grid">
            <% if(game.currentPlayer.name==='human' ) {%>
                <% for(key in players){ %>
                    <div class="'players">
                        <%= players[key].name %>
                            <p>balance : <%= players[key].balance %>
                            <p>bets : <%= players[key].bets %>
                            </p>
                    </div>
                    <%} %>
                        <%if(game.currentTurn === 'blind'){ %>
                            <form action="/play" method="post">
                            <div class="board">
                                <p>current turn : <%= game.currentTurn %>
                                </p>
                                pot : <%= game.pot %>
                            </div>
                                <input type="number" name="amount">
                                <button type="submit" name="action" value="bet">bet</button>
                                <button type="submit" name="action" value="raise" disabled="True">raise</button>
                                <button type="submit" name="action" value="call">call</button>
                                <button type="submit" name="action" value="check">check</button>
                                <button type="submit" name="action" value="fold">fold</button>
                        </form>
                        <%}else if(game.currentTurn === 'ante'){%>
                            <form action="/play" method="post">
                                <div class="board">
                                    <p>current turn : <%= game.currentTurn %>
                                    </p>
                                    pot : <%= game.pot %> <br>
                                    <%= players[1].hand[0].rank %>
                                    <%= players[1].hand[0].Family %> <br>
                                    <%= players[1].hand[1].rank %>
                                    <%= players[1].hand[1].Family %> <br>
                                </div>
                                <input type="number" name="amount">
                                <button type="submit" name="action" value="bet">bet</button>
                                <button type="submit" name="action" value="raise">raise</button>
                                <button type="submit" name="action" value="call">call</button>
                                <button type="submit" name="action" value="check">check</button>
                                <button type="submit" name="action" value="fold">fold</button>
                        <%}else if(game.currentTurn === 'showDown'){%>
                            <div class="board">
                                <p>current turn : <%= game.currentTurn %></p>
                                pot : <%= game.pot %> <br>
                                <%    players.forEach((p)=>{ %>
                                    hand : <%= p.name %> <br>
                                    <%= p.hand[0].rank %>
                                    <%= p.hand[0].Family %> <br>
                                    <%= p.hand[1].rank %>
                                    <%= p.hand[1].Family %> <br>
                                    <%= p.hand[2].rank %>
                                    <%= p.hand[2].Family %> <br>
                                    <%= p.handCategory.name %>
                                    <br>
                                    <br>
                                    <%    }) %>
                                </div>
                                
                                <form action="/play" method="post">
                                    winner : <%= game.winner.name %>
                                    <button type="submit" name="action" value="next turn">tour suivant</button>
                                </form>

                            <%}else if(game.currentTurn === 'end'){%>
                                fin de la partie
                                <%}%>

                        <%}else{%>
                            <div>
                                <p>waiting for bot</p>
                                <script>
                                    <!-- on regarde si le joueur change, et on rafraîchit la page -->
                                    const id = setInterval(() => {
                                        fetch("/current-player")
                                            .then(res => res.json())
                                            .then(player => {
                                                if (player.name === "human") {
                                                    clearInterval(id)
                                                    location.reload()
                                                }
                                            })
                                    }, 500)
                                </script>
                            </div>
                            <%}%>
        </div>
    </div>
</body>

</html>